!!!
html
    include inc/header

    body

        block navbar
            include inc/navbar

        block content

        block footer
            include inc/footer

        block scripts
            include inc/scripts